.imagem-container {
  width: 200px; 
  height: 150px; 
  position: relative; 
}

.imagem {
  width: 100%;
  height: 100%;
}

.imagem-container:hover .imagem {
  src: "ybxlO.jpg"; 
}

.imagem-container:hover .imagem {
    transition: opacity 0.3s ease-in-out; 
}